table {
  text-align: center;
  border-collapse: collapse;
}

th {
  background-image: linear-gradient(to bottom, rgba(118, 223, 239, 0.861), rgba(177, 240, 249, 0.861));
}

tr[class="read"] {
  background-image: linear-gradient(to bottom, rgb(190, 231, 190),rgb(145, 244, 145));
}

tr[class="to-read"] {
  background-image: linear-gradient(to bottom, rgba(188, 179, 179, 0.861), rgb(224, 211, 211));
}

tr[class="in-progress"] {
  background-image: linear-gradient(to bottom, rgb(239, 202, 132), rgb(237, 214, 171));
}

span {
  display: inline-block;
}

tr[class="to-read"] span[class="status"] {
  border: 2px solid rgba(244, 0, 0, 0.991);
  border-radius: 1000em;
  background-image: linear-gradient(rgba(244, 0, 0, 0.991));
}

tr[class="read"] span[class="status"] {
  border: 2px solid rgb(30, 192, 30);
  border-radius: 1000em;
  background-image: linear-gradient(rgb(30, 192, 30));
}

tr[class="in-progress"] span[class="status"] {
  border: 2px solid orange;
  border-radius: 1000em;
  background-image: linear-gradient(orange)
}

span[class="status"], span[class^="rate"] {
  height: 0.5em;
  width: 6em;
  padding: 10px;
}

span[class^="rate"] > span {
  border: 2px solid rgb(168, 160, 160);
  border-radius: 100%;
  width: 15px;
  margin: 1px;
  height: 15px;
  background-color: white;
}

span[class~="one"] span:first-child {
  background-image: linear-gradient(rgba(246, 255, 0, 0.895));
}

span[class~="two"] span:nth-child(-n+2) {
  background-image: linear-gradient(rgba(246, 255, 0, 0.895));
}

span[class~="three"] > span {
  background-image: linear-gradient(rgba(246, 255, 0, 0.895));
}
