html {
  font-size: 24px;
}

.newspaper {
  font-size: 16px;
  font-family: Open Sans, sans-serif;
}

.headline {
  font-size: 2em;
  font-weight: bold;
}

.sub-headline {
  font-weight: 100;
  font-size: 1.5em;
  font-style: italic;
}

.author {
  font-weight: bold;
}


.text{
  text-indent: 20px;
  line-height: 2em;
}

.name {
  font-size: 2rem;
  font-family: Times New Roman, serif;
  text-align: center;
  margin-bottom: 15px;
}

.name, .author {
  text-transform: uppercase;
}

.text::first-letter {
  font-weight: bold;
  font-size: 2em;
}

.date {
  text-align: center;
  margin-top: 0;
}
