body {
  background: linear-gradient(to bottom, rgb(145, 205, 226) 50%, green 50%);
}

#house {
  position: relative;
  width: 500px;
  height: 400px;
  border: 5px solid rgb(222, 96, 24);
  background-color: rgb(231, 179, 150);
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

#chimney {
  position: absolute;
  width: 70px;
  height: 50px;
  border: 2px solid;
  background-color: white;
  background-image: repeating-linear-gradient(
    360deg,
    black 0,
    black 3px,
    transparent 3px,
    transparent 14px
  );
  top: -50px;
  right: 30px;
  z-index: -1;
}

#roof {
  position: absolute;
  width: 100%;
  height: 90px;
  border: 0 solid black;
  background-color: rgb(231, 179, 150);
  top: 0;
  background-image: repeating-linear-gradient(
    45deg,
    rgb(222, 96, 24) 0,
    rgb(222, 96, 24) 10px,
    transparent 10px,
    transparent 21px
  ),

  repeating-linear-gradient(
    -45deg,
    rgb(222, 96, 24) 0,
    rgb(222, 96, 24) 10px,
    transparent 10px,
    transparent 21px
  )
}

#window-1 {
  position: absolute;
  width: 70px;
  height: 80px;
  border: 6px solid rgb(222, 96, 24);
  background-color: rgb(234, 234, 166);
  top: 150px;
  left: 40px;
}

#window-1::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 4px;
  height: 100%;
  background: rgb(222, 96, 24);
  transform: translateX(-50%)
}

#window-2 {
  position: absolute;
  width: 70px;
  height: 80px;
  border: 6px solid rgb(222, 96, 24);
  background-color: rgb(234, 234, 166);
  top: 150px;
  right: 40px;
}

#window-2::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 4px;
  height: 100%;
  background: rgb(222, 96, 24);
  transform: translateX(-50%)
}

#door {
  position: absolute;
  width: 150px;
  height: 200px;
  border: 6px solid rgb(222, 96, 24);
  background-color: rgb(190, 181, 181);
  bottom: 0;
  left: 170px;
}

#door-knob {
  position: absolute;
  background-color: rgb(222, 96, 24);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 120px;
  right: 10px;
}

#welcome {
  position: relative;
  width: 120px;
  border: solid;
  padding: 10px;
  text-align: center;
  background-color: rgb(186, 237, 186);
  font-style: italic;
  text-transform: uppercase;
  font-weight: 600;
  clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
  left: 50%;
    transform: translateX(-50%);
    top: -30px;
}
