* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    right: 0;
}

.link-head {
    display: flex;
    background-color: black;
    justify-content: space-between;
}

.link-head i {
    color: white;
    padding: 20px;
    font-size: 24px;
}

.link-head li {
    padding: 20px;
}

.link-head li a {
    color: white;
    text-decoration: none;
}

.hero {
    width: 100%;
    height: 300px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-left {
    flex: 1;
    z-index: 1;
    padding: 50px;
    height: 100%;
    background: linear-gradient(rgb(238, 238, 210));
    display: flex;
    align-items: center;    /* vertical centering */
    justify-content: center; /* horizontal centering */
}

/* align text to the left inside the left column and limit line length for readability */
.hero-left .left {
    text-align: left;
    max-width: 520px;
    width: 100%;
}

.hero-right {
    display: flex;
    background-color: black;
    flex: 1;
    z-index: 2;
    height: 100%;
    justify-content: center;
    align-items: end;
}

.hero-right img {
    width: 200px;
    height: 80%;
    z-index: 3;
}

.adjacent {
    display: flex;
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: black;
    transform: skewX(-10deg);
    transform-origin: right;
    z-index: 1;
    align-content: end;
}

.quote {
    background-color: brown;
    padding: 30px;
    color: white;
}

.quote h2 {
    margin-top: -10px;
}

.quote p {
    padding-top: 20px;
    width: 70%;
    line-height: 1.3rem;
}

.quote-btn {
    display: flex;
    width: 140px;
    height: 40px;
    margin-top: 20px;
    padding: 10px;
    justify-content: center;
    border-left: 5px solid white;
    border-right: 5px solid white;
} 

.quote-btn a {
    text-decoration: none;
    color: white;
}

.main {
    display: block;
    justify-items: center;
}

.about-me {
    margin: 50px;
    padding: 10px;
    width: 190px;
    border: 5px solid black;
    justify-items: center;
}